.single {
height: 400px;
margin-left: 50px;
margin-top: 10px;
border-radius: 10px;
}

h1 {
  text-align: left;
  margin-top: 100px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

  .card{
    margin-top: 22px;
    background-color: rgb(241, 241, 241);
    

  
  }
  .homeCard:hover{
    transform: scale(1.05);
  }

  .homeCard{
    transition: transform .2s;
    box-shadow: 8px 8px 20px rgb(161, 161, 161);
    border-radius: 5px;
  }

  p{
    color: rgb(74, 74, 74);
  }


figure{
  border-radius: 10px;
  img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.background {
  background-color: white;
}

.hero-body{
  padding: 20px;
}

.navbar-link{
  color: white;
}

.details{
  p{
  margin-top: 10px;
}
} 